*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
}
.flexed{
    display: flex;
    flex-wrap: wrap;
}
.sized-large{
    max-width: 1170px;
    padding: 0 1vw;
    margin: 0 auto;
}
.sized-thin{
    max-width: 1170px;
    padding: 0 5vw;
    margin: 0 auto;
}
.indented{
    text-indent: -10px;
    padding: 0 10px;
}
.w-20{
    width: 20%;
}
.w-30{
    width: 30%;
}
.w-40{
    width: 40%;
}
.w-60{
    width: 60%;
}
.w-100{
    width: 100%;
}
.col{
    margin: 20px 0;
}
.col.text{
    flex-grow: 1;
}
.cols{
    margin: 20px 0;
    justify-content: space-between;
}
.btn{
    
}
.blue.btn{
    color: white;
    background-color: #0061FF;
}
.btn.big{
    padding: 10px 20px;
}
.btn.small{
    padding: 5px 15px;
}
a{
    display: inline-block;
    text-decoration: none;
}
ul{
    list-style: none;
}
p{
    line-height: 140%;
}
/* debug */
/* .debug .w-100{
    background-color: greenyellow
}
.debug .w-30{
    background-color: greenyellow;
}
.debug .w-40{
    background-color: lightgreen;
}
.debug .w-60{
    background-color: darkolivegreen;
} */
/* .debug .col{
    height: 300px;
    border: dashed 2px white;
} */
/* .debug.col.text{
    background-color: yellow;
} */
/* .debug .cols{
    background-color: green;
    border: dashed 2px black;
} */
/* .debug section{
    border: dotted 2px black;
} */

/* .debug header{
    background-color: aqua;
} */
/* .debug #header-logo{
    height: 30px;
    width: 60px;
    background-color: blue;
} */
/* .debug header nav{
    width: 300px;
    height: 50px;
    background-color: lightblue;
} */
/* .debug #header-btn
{
    width: 50px;
    height: 30px;
} */

/* .debug h1{
    background-color: red;
} */

/* .debug h2{
    background-color: orange;
} */

/* .debug .radio-btns{
    width: 200px;
    height: 30px;
    background-color: lightgray;
} */

.debug .partners .grid-block{
    background-color: purple;
}
.debug .partners .square{
    background-color: pink;
    border: dashed 1px black;
}
.debug .partners .center{
    background-color: violet;
}

.debug .question{
    height: 60px;
    background-color:indigo;
}

.debug footer .box.language{
    height: 50px;
    width: 200px;
    background-color: darkgray;
}
/* CSS rules */

/* header */
header{
    flex-wrap: nowrap;
    background-color: white;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    padding: 0 20px;
}
header .menu-box{
    height: 100%;
    justify-content: space-between;
    flex-grow: 1;
}
header ul{
    flex-wrap: nowrap;
}
header li{
    font-size: 14px;
    height: 80px;
    line-height: 70px;
}
header nav a{
    color: black;
    padding: 5px;
    margin: 0 10px;
}

/* main */
main section{
    padding: 100px 0;
}
main h1{
    font-size: 50px;
    margin: 50px 0;
}
main h2{
    font-size: 35px;
    margin-bottom: 50px;
}
main h3{
    font-size: 20px;
    margin-bottom: 10px;
}
main h4{
    margin-bottom: 20px;
}

main .jumbotron{
    background-color: #B4D0E7;
    padding-bottom: 0;
}
.jumbotron .btn{
    display: inline-block;
    margin: 30px 0;
}
.jumbotron #internal-link{
    display: inline-block;
    font-size: 30px;
    margin: 50px 0 -10px 0;
    color: black;
}
.jumbotron .img.col{
    position: relative;
}
.jumbotron img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.plans .radio-btns{
    margin-bottom: 30px;
}
.plans .circle{
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: solid 1px gray;
}
.radio-btns span:active{
    border: solid 3px blue;
}
.radio-btns span:nth-of-type(2){
    margin-left: 20px;
}

.plans .col{
    font-size: 14px;
    border: solid 1px #D0D0D3;
}
.plans li{
    margin: 15px 0;
}
li.blue i{
    color: blue;
}
.plans .col .target{
    text-align: center;
    border-bottom: solid 1px #D0D0D3;
    padding: 10px;
}
.plans .col .details{
    padding: 30px;
}
li.cost-division{
    color: gray;
    margin-bottom: 20px;
}
.plans a.btn{
    text-align: center;
    width: 100%;
    margin: 20px 0;
}
.gray-line{
    height: 1px;
    background-color: lightgray;
    width: 30%;
    margin: 30px 0;
}
section.partners{
    flex-wrap: nowrap;
}
section.partners .grid-block{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
}
section.partners .square{
    width: 50%;
    height: 50%;
}
section.partners{
    margin-bottom: 0;
}

section.free-trial{
    background-color: #B4D0E7;
}

.faq h2{
    padding-bottom: 30px;
    border-bottom: solid 1px grey;
}
.faq .question-box{
    border-bottom: solid 1px grey;;
}

/* footer */
footer{
    padding: 50px 0;
    background-color: black;
    color: white;
}
footer h3{
    margin-bottom: 20px;
}
footer li{
    line-height: 30px;
}
footer .box.language{
    display: inline-block;
    border-top: solid 1px white;
}