*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

/* utilities */
.flexed{
    display: flex;
}
.wrapped{
    flex-wrap: wrap;
}
.justified-sb{
    justify-content: space-between;
}
.sized-large{
    max-width: 1170px;
    padding: 0 1vw;
    margin: 0 auto;
}
.sized-thin{
    max-width: 1170px;
    padding: 0 5vw;
    margin: 0 auto;
}

img{
    width: 100%;
}
.indented{
    text-indent: -10px;
    padding: 0 10px;
}
.w-20{
    width: 20%;
}
.w-30{
    width: 30%;
}
.w-40{
    width: 40%;
}
.w-60{
    width: 60%;
}
.w-70{
    width: 70%;
}
.w-100{
    width: 100%;
}
.h-100{
    height: 100%;
}
.col{
    margin-top: 30px;
    min-width: 300px;
}
.col.text{
    flex-grow: 1;
}
.cols{
    margin: 20px 0;
}
a{
    padding: 5px;
    text-decoration: none;
}
.btn{
    font-weight: 400;
}
.blue i{
    color: blue;
}
.blue.btn{
    color: white;
    background-color: #0061FF;
    transition: all 0.5s;
}
.blue.btn:hover{
    background-color: #649fff;
}
.white.btn{
    color: black;
    background-color: white;
    border: solid 1px black;
    transition: all 0.5s;
}
.white.btn:hover{
    background-color: black;
    color: white;
}
.btn.big{
    padding: 10px 20px;
}
.btn.small{
    padding: 5px 15px;
}
ul{
    list-style: none;
}
h1{
    font-size: 50px;
    margin: 50px 0;
}
h2{
    font-size: 35px;
    margin-bottom: 35px;
}
h3{
    font-size: 20px;
    margin-bottom: 20px;
}
h4{
    font-size: 14px;
    margin-bottom: 20px;
}
/* debug */
/* .debug .w-100{
    background-color: greenyellow
}
.debug .w-30{
    background-color: greenyellow;
}
.debug .w-40{
    background-color: lightgreen;
}
.debug .w-60{
    background-color: darkolivegreen;
} */
/* .debug .col{
    height: 300px;
    border: dashed 2px white;
} */
/* .debug.col.text{
    background-color: yellow;
} */
/* .debug .cols{
    background-color: green;
    border: dashed 2px black;
} */
/* .debug section{
    border: dotted 2px black;
} */

/* .debug header{
    background-color: aqua;
} */
/* .debug #header-logo{
    height: 30px;
    width: 60px;
    background-color: blue;
} */
/* .debug header nav{
    width: 300px;
    height: 50px;
    background-color: lightblue;
} */
/* .debug #header-btn
{
    width: 50px;
    height: 30px;
} */

/* .debug h1{
    background-color: red;
} */

/* .debug h2{
    background-color: orange;
} */

/* .debug .radio-btns{
    width: 200px;
    height: 30px;
    background-color: lightgray;
} */

/* .debug .squares .grid-block{
    background-color: purple;
}
.debug .squares .square{
    background-color: pink;
    border: dashed 1px black;
}
.debug .squares .center{
    background-color: violet;
} */

/* .debug .question{
    height: 60px;
    background-color:indigo;
} */

/* .debug footer .box.language{
    height: 50px;
    width: 200px;
    background-color: darkgray;
} */

/* CSS rules */

/* header */
header{
    background-color: white;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    padding: 0 20px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
    overflow-y: hidden;
}
header nav{
    align-items: center;
}
header .menu-box{
    margin: 0 10px;
    flex-grow: 1;
}
header .menu-box a{
    color: black;
    margin: 0 10px;
    line-height: 80px;
}
header li:hover {
    border-bottom: solid 2px black;
}

/* main */
main section{
    padding: 100px 0;
}
main .btn{
    display: inline-block;
    margin: 30px 0;
}

#jumbotron{
    background-color: #B4D0E7;
    padding-bottom: 0;
}
#jumbotron #internal-link{
    display: inline-block;
    font-size: 50px;
    margin: 50px 0 10px;
    color: black;
}
#jumbotron .img.col{
    position: relative;
}
#jumbotron img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#plans .circle{
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: solid 1px gray;
}
#plans .circle:active{
    border: solid 3px blue;
}
.radio-btns .circle:nth-of-type(2){
    margin-left: 20px;
}

#plans .col{
    font-size: 14px;
    border: solid 1px #D0D0D3;
}
#plans .col .top{
    text-align: center;
    border-bottom: solid 1px #D0D0D3;
    padding: 10px;
}
#plans .col .bottom{
    padding: 30px;
}
#plans .col li{
    margin: 5px 0;
}
#plans .col .cost-division{
    color: gray;
    margin-bottom: 30px;
}
#plans a.btn{
    font-size: 16px;
    text-align: center;
    width: 100%;
    margin: 30px 0 20px;
}
#plans .buy-now{
    text-decoration: underline;
    color: blue;
}
.gray-line{
    height: 1px;
    background-color: lightgray;
    width: 30%;
    margin: 30px 0;
}
#plans .w-100 .btn{
    margin: 0;
}
#plans .w-100 .bottom{
    min-width: 200px;
}

#lf-partner .text.col{
    padding: 50px;
}

#features .cols{
    
}

#partners{
    padding-bottom: 0;
}
#partners .big-square{
    width: calc(100% / 3);
    height: calc(100vw / 3);
}
#partners .center.big-square
{
    background-color: #F5F5F5;
    padding: 30px;
}
#partners p{
    width: 100%;
    height: 60%;
    overflow-y: auto;
}
#partners .square{
    display: flex;
    align-items: center;
    padding: 30px;
    width: 50%;
    height: 50%;
}
#partners .selected.square{
    box-shadow: inset 0 0 5px 15px rgba(255, 255, 255,0.5);
}
#partners .square img{
    filter: invert(1);
}
#partners .squares{
    margin: 30px 0 0;
}

#designit{
    background-color: #A2D39B;
}
#asu{
    background-color: #61082B;
}
#uf{
    background-color: #0093CE;
}
#topps{
    background-color: #FF1C1C;
}
#wbr{
    background-color: #D5001F;
}
#hearst{
    background-color: #B4D0E7;
}
#lp{
    background-color: #0D2481;
}
#cc{
    background-color: #FFD830;
}

#free-trial{
    background-color: #B4D0E7;
}
#free-trial .btn{
    margin: 0 0 0 20%;
}

#faq h2{
    padding-bottom: 30px;
    border-bottom: solid 1px grey;
    margin-bottom: 0;
}
#faq .question-box{
    padding: 30px 0;
    border-bottom: solid 1px grey;;
}
#faq .hidden{
    display: none;
}
#faq .arrow{
    text-align: center;
}
#faq .question-box:hover .hidden{
    display: block;
    margin-top: 20px;
}
#faq .question-box:hover .arrow{
    transform: rotate(180deg)
}

/* footer */
footer{
    font-size: 12px;
    padding: 50px 0;
    background-color: black;
    color: white;
}
footer .col{
    min-width: 180px;
}
footer h3{
    margin-bottom: 20px;
}
footer a{
    line-height: 30px;
    color: white;
}
footer .box.language{
    color: #999999;
    display: inline-block;
    padding: 20px 10px 20px 0;
    border-top: solid 1px white;
}