*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Open Sans', sans-serif;
}

/* utilities */
.flexed{
    display: flex;
}
.wrapped{
    flex-wrap: wrap;
}
.wrap-rev{
    flex-wrap:wrap-reverse
}
.justified-sb{
    justify-content: space-between;
}
.hidden{
    display: none;
}
.sized-large{
    max-width: 1170px;
    padding: 0 10px;
    margin: 0 auto;
}
.sized-thin{
    max-width: 1170px;
    padding: 100px ;
    margin: 0 auto;
}
.min-w-200{
    min-width: 200px;
}

.w-20{
    width: 20%;
}
.w-30{
    width: 30%;
}
.w-40{
    width: 40%;
}
.w-50{
    width: 50%;
}
.w-60{
    width: 60%;
}
.w-70{
    width: 70%;
}
.w-100{
    width: 100%;
}
.h-100{
    height: 100%;
}
.col{
    margin-top: 30px;
    min-width: 300px;
}
.cols{
    margin: 20px 0;
}

.btn{
    font-weight: 400;
}
.blue i{
    color: blue;
}
.blue.btn{
    color: white;
    background-color: #0061FF;
    transition: all 0.5s;
}
.blue.btn:hover{
    background-color: #649fff;
}
.white.btn{
    color: black;
    background-color: white;
    border: solid 1px black;
    transition: all 0.5s;
}
.white.btn:hover{
    background-color: black;
    color: white;
}
.btn.big{
    padding: 10px 20px;
}
.btn.small{
    padding: 5px 15px;
}

/* basic tags */
h1{
    font-weight: 800;
    font-size: 70px;
    margin: 50px 0;
}
h2{
    font-size: 35px;
    margin-bottom: 35px;
}
h3{
    font-size: 20px;
    margin-bottom: 20px;
}
h4{
    font-size: 14px;
    margin-bottom: 20px;
}
p{
    line-height: 25px;
    font-weight: lighter;
}
a{
    padding: 5px;
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    width: 100%;
}
/* CSS rules */

/* header */
body>header{
    background-color: white;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    padding: 0 20px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
    font-size: 14px;
    font-weight: lighter;
}
header nav.flexed{
    align-items: center;
}
header .menu-box{
    margin: 0 10px;
    flex-grow: 1;
}
header .top-menu li{
    position: relative;
}
header .top-menu > li > a{
    color: black;
    margin: 0 5px;
    line-height: 80px;
}
header .top-menu > li:hover {
    border-bottom: solid 2px black;
}
.hidden.sub-menu{
    position: absolute;
    top: 80px;
    transition: transform 0.8s ease-in-out 0.5s;
    display: flex;
    background-color: white;
}
.left.top-menu .hidden.sub-menu{
    left: -100vw;
}
.right.top-menu .hidden.sub-menu{
    right: -100vw;
}
header .left li:hover .hidden.sub-menu{
    transform: translate(100vw,0);
}
header .right li:hover .hidden.sub-menu{
    transform: translate(-100vw,0);
}
.sub-box{
    min-width: 200px;
    padding: 10px;
}
.sub-box h4{
    padding-left: 5px;
}
.sub-box li {
    font-size: 12px;
    padding: 5px 0;
}
.sub-box li a:hover{
    text-decoration: underline;
}
.sub-box a {
    display: inline-block;
    color: black;
}
.sub-functions-list a{
    display: flex;
    align-items: center;
}
.sub-functions-list img{
    width: 40px;
    margin-right: 10px;
}
.sub-functions-list h4{
    margin-bottom: 5px;
}
.sub-functions-list p{
    line-height: unset;
    color: rgb(52, 52, 52);
}
#header-logo img{
    height: 100%;
    width: unset;
}

/* main */
main section{
    padding: 100px 0;
}
main .btn{
    display: inline-block;
    margin: 30px 0;
}

#jumbotron{
    background-color: #B4D0E7;
    padding-bottom: 0;
}
#jumbotron #internal-link{
    display: inline-block;
    font-size: 40px;
    margin: 30px 0 10px;
    color: black;
}
#jumbotron .img.col{
    min-width: 350px;
    min-height: 350px;
    position: relative;
}
#jumbotron img{
    position: absolute;
    top: 0;
    left: 0;
}

#plans .circle{
    vertical-align: middle;
    display: inline-block;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: solid 1px gray;
}
#plans .circle:active{
    border: solid 4px blue;
}
.radio-btns .circle:nth-of-type(2){
    margin-left: 20px;
}

#plans .col{
    line-height: 25px;
    font-size: 14px;
    border: solid 1px #D0D0D3;
}
#plans header{
    text-align: center;
    border-bottom: solid 1px #D0D0D3;
    padding: 10px;
}
#plans article{
    padding: 30px;
}
#plans .col li{
    font-weight: lighter;
    margin: 10px 0;
}
#plans .indented{
    text-indent: -10px;
    padding: 0 20px;
}
#plans .col .cost-division{
    color: gray;
    margin-bottom: 30px;
}
#plans a.btn{
    font-size: 16px;
    text-align: center;
    width: 100%;
    margin: 30px 0 20px;
}
#plans .buy-now{
    text-decoration: underline;
    color: blue;
}
.gray-line{
    height: 1px;
    background-color: lightgray;
    width: 30%;
    margin: 30px 0;
}
#plans .w-100 .btn{
    margin: 0;
}

#lf-partner .text.col{
    padding: 50px;
}

#partners{
    padding-bottom: 0;
}
#partners a{
    text-decoration: underline;
    color: blue;
}
#partners .squares{
    position: relative;
}
#partners .hidden.big-square{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    position: absolute;
    left: calc(100vw/3);
    top: 50px;
    padding: 50px;
}
#partners .hidden.big-square img{
    filter: invert(0);
}
#partners .square:hover .hidden.big-square{
    display: block;
}
#partners .big-square{
    width: calc(100% / 3);
    height: calc(100vw / 3);
}
#partners .center.big-square
{
    background-color: #F5F5F5;
}
#partners p{
    width: 100%;
    padding-right: 15px;
    height: 60%;
    font-size: 12px;
    line-height: unset;
    overflow-y: auto;
}
#partners .square{
    display: flex;
    align-items: center;
    padding: 30px;
    width: 50%;
    height: 50%;
}
#partners .square:hover{
    box-shadow: inset 0 0 5px 15px rgba(255, 255, 255,0.5);
}
#partners .square img{
    filter: invert(1);
}
#partners .squares{
    padding: 50px 0 0;
}

#designit{
    background-color: #A2D39B;
}
#asu{
    background-color: #61082B;
}
#uf{
    background-color: #0093CE;
}
#topps{
    background-color: #FF1C1C;
}
#wbr{
    background-color: #D5001F;
}
#hearst{
    background-color: #B4D0E7;
}
#lp{
    background-color: #0D2481;
}
#cc{
    background-color: #FFD830;
}

#free-trial{
    background-color: #B4D0E7;
}
#free-trial .btn{
    margin: 0;
}

#faq h2{
    padding-bottom: 30px;
    border-bottom: solid 1px grey;
    margin-bottom: 0;
}
#faq .question-box{
    padding: 30px 0;
    border-bottom: solid 1px grey;;
}
#faq .arrow{
    text-align: center;
}
#faq .question-box:hover .hidden{
    display: block;
    margin-top: 20px;
}
#faq .question-box:hover .arrow{
    transform: rotate(180deg)
}

/* footer */
footer{
    font-size: 14px;
    padding: 50px 0;
    background-color: black;
    color: white;
}
footer .col{
    min-width: 180px;
}
footer h3{
    margin-bottom: 20px;
}
footer a{
    margin-left: -5px;
    line-height: 30px;
    color: white;
}
footer .box.language{
    color: #999999;
    display: inline-block;
    margin-top: 50px;
    padding: 30px 30px 0 0;
    font-size: 13px;
    border-top: solid 1px white;
}